
:root {
    font-size: 100%;
}




* {
    padding: 0%;
    margin: 0%;

}
.navBar {
    display: flex;
    height: 5vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, #f6706f, #c64443);
    border: solid black;
}

body {
    font-size: 1em;
}

button {
    background-color: #515151;
    color: white;
    border-radius: 2em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

#pokemonSearch {
    background-color: white;
    color: black;
    border-radius: 2em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

#nameBox1 {
height: 5vh;
/* background-color: black; */
position: absolute;
top: 13vh;
left: 18vw;
text-align: left;
font-size: 3rem;
color: white;
}

#nameBox2 {
height: 5vh;
/* background-color: black; */
position: absolute;
top: 55.5vh;
left: 61vw;
text-align: left;
font-size: 3rem;
color: white;
}

#selectedId {
height: 5vh;
position: absolute;
top: 55.5vh;
left: 53.5vw;
text-align: left;
font-size: 3rem;
color: #515151;
}

#defaultPokemon {
    position: absolute;
    top: 52vh;
    left: 18.5vw;
    z-index: 2;
}
#shinyPokemon {
    position: absolute;
    top: 52vh;
    left: 18.5vw;
    z-index: 1;
}

img {
    height: 30vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pokedex {
    background-image: url("/photos/fc8bc92c-ada1-444e-84f5-eee1797c87ba.jpg");
    height: 106vh;
    width: 100vw;
    background-size: cover;
}

#typeBox {
    position: absolute;
    height: 44px;
    width: 200px;
    /* background-color: black; */
    top: 95vh;
    left: 20.5vw;
}


/* Battle section */


#pokemonBattle{
    display: flex;
    justify-content: center;
    /* background-color: #f6706f; */
}

#battleImg {
    /* Base image is 512 x 384px */
    height: 768px;
    width: 1024px;
    background-image: url("/photos/pokemonBattle.jpg");
    background-size: cover;
}

#pokemonBattleSearch {
    background-color: white;
    color: black;
    border-radius: 2em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

#battleUi {
    height: 192px;
    width: 1024px;
    /* background-color: white; */
    position: absolute;
    top: 1712px;
    background-image: url("/photos/battleUi.jpg");
    background-size: cover;
    z-index: 2;
}

#opponentNameBox {
    height: 40px;
    width: 290px;
    /* background-color: black; */
    position: relative;
    top: 92px;
    left: 10px;
    color: #4b4546;
    font-size: 3rem;
    font-family: 'VT323', monospace;
}

#opponentPokemon {
    height: 220px;
    width: 220px;
    position: absolute;
    left: 1095px;
    top: 1305px;
}

#yourPokemonNameBox {
    height: 40px;
    width: 290px;
    /* background-color: black; */
    position: absolute;
    left: 1055px;
    top: 1540px;
    color: #4b4546;
    font-size: 3rem;
    font-family: 'VT323', monospace;
}

#yourPokemon {
    height: 400px;
    width: 400px;
    position: absolute;
    left: 500px;
    top: 1420px;
    z-index: 0;
}

#queryText {
    height: 120px;
    width: 405px;
    /* background-color: black; */
    position: absolute;
    top: 1750px;
    left: 490px;
    z-index: 3;
    color: #4b4546;
    font-size: 3rem;
    font-family: 'VT323', monospace;
}

#battleScreen {
    width: 100vw;
    height: 768px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;

    background-image: url("photos/310e2ce9-aa79-47d9-b419-cf4a67248f1a.jpg");
    background-size: cover;
}

.hidden {
    visibility: hidden;
}

.halfVis {
    opacity: 50%;
}

.transit {
    transition: opacity 1s;
}